<ion-content>
  <!-- HEADER -->
  <div class="header">
    <h1>Menu</h1>
    <div class="avatar">
      <ion-avatar item-left>
        <img src="assets\images\avatar.svg"></ion-avatar>
    </div>
  </div>
  <!-- SEARCHBAR -->
  <app-searchbar></app-searchbar>
  
  <!-- CATEGORY -->
<div class="categories">
  <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
<!-- PRODUCT -->
<h1 class="list-header">Popular</h1>
<div class="food-list" *ngFor="let food of foods">
  <app-food-card [item]="food"></app-food-card></div>
</div>
</ion-content>
