.card {
    width: 100%;
    padding: 1.6rem 2 rem;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2.5rem;
    margin-bottom: 1.5rem;

    .card-content{
    text-align: center;

    .title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    color: #1d1d1d;
    }

    .substitle {
        font-size: 1.3rem;
        font-weight: 700;
        color: #ffb800;
        margin-top: 0;
    }
}
}